.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.chatbox {
  background: rgba(255, 255, 255, 0.05);
  width: 600px;
  height: 300px; /* Limiting the height */
  border-radius: 0.2em;
  position: relative;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Adding vertical scroll */
}

.message {
  width: 65%;
  margin: 2em 1em;
  overflow: auto;
}

.message.assistant {
  float: left;
  background-color: rgba(23, 190, 187, 0.5); /* Nuance of blue for assistant messages */
  border-radius: 5px;
  padding: 1em 0;
  color: white;
}

.message.user {
  float: right;
  background-color: rgba(240, 166, 202, 0.5); /* Nuance of pink for user messages */
  border-radius: 5px;
  padding: 1em 0;
  color: white;
}

.message .name {
  color: white;
  font-size: 1em;
}

.message .message {
  color: white;
  font-size: 0.7em;
  margin: 0 2.8em;
}

/* Other styles for the chatbox */
